.vscode
Library
Logs
Temp
Build
0_Bin/

# =============== #
 
# Unity generated #
 
# =============== #
 
Temp/
 
Obj/
 
UnityGenerated/
 
Library/

.vs/
 
AssetBundle/
 
Logs/

ServerData/

Build/

Bundle/

[Uu]ser[Ss]ettings/
 
# ===================================== #
 
# Visual Studio / MonoDevelop generated #
 
# ===================================== #
 
ExportedObj/
 
*.svd
 
*.userprefs
 
*.csproj
 
*.pidb
 
*.suo
 
*.sln
 
*.user
 
*.unityproj
 
*.booproj

*.dwlt
 
 
 
# ============ #
 
# OS generated #
 
# ============ #
 
.DS_Store
 
.DS_Store?
 
._*
 
.Spotlight-V100
 
.Trashes
 
Icon?
 
ehthumbs.db
 
Thumbs.db

Assets/AddressableAssetsData/Android/
Assets/AddressableAssetsData/iOS/
Assets/AddressableAssetsData/WebGL/

.utmp
